.ButtonNotPlaying {
    background: linear-gradient(to bottom, #FAF3E3, #FAF3E3);
}

.ButtonPlaying {
    background: rgb(255,159,41);
    background: linear-gradient(180deg, rgba(255,159,41,1) 0%, rgba(250,243,227,1) 100%);
}

.reactSlider {
    width: 100%;
    position: relative;
    bottom: -20px;
    left: 5%;
    transition: 0.25s all linear;
    -webkit-transition: 0.25s all linear;
    -moz-transition: 0.25s all linear;
    -ms-transition: 0.25s all linear;
    -o-transition: 0.25s all linear;
}

.reactSlider.clicked {
    bottom: 20px;
}