@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');

:root {
  --orange: #FF9F29;
  --ferrari-red: #FF1616;
  --black: #000000;
  --forest-green: #1A4D2E;
  --ecru-white: #FAF3E3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom CSS */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.button {
  background: linear-gradient(0deg, rgba(255, 151, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  transition: all 0.3s ease;
}

.button:before {
  height: 0%;
  width: 2px;
}

.button:after {
  width: 0%;
  height: 2px;
}

.button:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}

.button:hover:before {
  height: 100%;
}

.button:hover:after {
  width: 100%;
}

.button span:before,
.button span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, .9),
    -4px -4px 5px 0px rgba(255, 255, 255, .9),
    7px 7px 20px 0px rgba(0, 0, 0, .2),
    4px 4px 5px 0px rgba(0, 0, 0, .3);
  transition: all 0.3s ease;
}

.button span:before {
  width: 2px;
  height: 0%;
}

.button span:after {
  height: 2px;
  width: 0%;
}

.button span:hover:before {
  height: 100%;
}

.button span:hover:after {
  width: 100%;
}

.shadow-custom {
  --shadow-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 2px var(--shadow-color);
}

.gradient-text {
  background-image: linear-gradient(to right, var(--ferrari-red), var(--orange));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: slide 3s linear infinite;
}

@keyframes slide {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

@layer components {
  .tw-timer-container {
    @apply w-[20rem] h-[20rem] flex justify-center items-center rounded-full bg-gradient-to-t to-[var(--orange)] from-[var(--ferrari-red)] shadow-2xl shadow-[#f87070];
  }

  .tw-timer {
    @apply w-[17rem] h-[17rem] flex justify-center items-center rounded-full text-6xl bg-[var(--ecru-white)] text-[var(--ferrari-red)] font-bold;
  }

  .tw-infoContainer {
    @apply bg-[var(--black)] flex justify-between items-center rounded-full p-3 mb-6;
  }

  .tw-infoItem {
    @apply p-3 text-[var(--ecru-white)] font-semibold rounded-full text-xs flex-1 text-center whitespace-nowrap cursor-pointer;
  }

  .tw-infoItem.active {
    @apply bg-[var(--orange)] text-[var(--ecru-white)];
  }
}